<div class="users">
  <div class="container">
  <h2>Users Table</h2>
    @if (loading) {
      <app-loader />
    }
    @if (error) {
      <div class="error">{{ error }}</div>
    }
    @if (!loading && !error) {
 <div>
    <table>
      <thead>
        <tr>
         <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>createdAt</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users.users; track $index) {
             <tr >
              <td>...{{ user._id | slice:-3}}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.createdAt | date}}</td>
        </tr>
        }

      </tbody>
    </table>
  </div>
    }

</div>

</div>
